@font-face {
  font-family: "iconfont"; /* Project id 2578584 */
  src: url('iconfont.woff2?t=1622252123915') format('woff2'),
       url('iconfont.woff?t=1622252123915') format('woff'),
       url('iconfont.ttf?t=1622252123915') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchetianjia:before {
  content: "\e640";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-wodehongbao:before {
  content: "\e657";
}

.icon-wodejuhuasuan:before {
  content: "\e659";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-liwu:before {
  content: "\e685";
}

.icon-gouwuche:before {
  content: "\e63f";
}

